# Environment
venv/
.venv/
env/

# Virtual Environment & Caches
venv/
__pycache__/
.vscode/

# Python cache
__pycache__/
*.py[cod]

# Checkpoints and Data
checkpoints/
data/
*.pth
*.pt
*.bin

# IDE settings
.vscode/
.idea/

# Datasets
data/
*.json
*.txt